body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #80deea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-left: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-right: 2rem;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #004d40;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007BFF;
}

main {
    padding: 2rem;
}

article {
    background-color: #fff;
    border: 1px solid #b2ebf2;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

article h2 {
    margin-top: 0;
    color: #007BFF;
}

.date {
    color: #888;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

footer {
    background-color: #004d40;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.centered-image img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.centered-image img:hover {
    transform: scale(1.05);
}

.image-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.image-container {
    text-align: center;
    flex: 1;
    margin: 0 1rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
}

.aboutp, .service-section, .indexp, .contactp {
    text-align: center;
    margin-bottom: 2rem;
}

.abouth3 {
    color: #007BFF;
    margin-bottom: 1rem;
}

.linkni {
    color: #004d40;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin: 1rem 0;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .centered-image {
        height: auto;
    }

    .image-row {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        margin-bottom: 1.5rem;
    }
}
